#second{
    background-color: black;
    color: white;
    position: relative;
    top:20px;
    z-index: 1;
}
#third{
    background-color: yellow;
    z-index: 2000;
}
#announcement{
    background-color: cornflowerblue;
    position: fixed;
    bottom:0%;
    right:40%;
}
#announcement2{
    background-color: lime;
    position: fixed;
    top:0%;
     right:40%;
}
#stiky{
    position: sticky;
    top:0;
    background-color: magenta;
    right:20%;
    z-index: 1000;
}
#span{
    position: absolute;
    top:10px;
    right: -5px;
    color: white;
    background-color: blue;
}
#first{
    position: relative;
}